<!DOCTYPE html>
<html>
<head>
  <title>Trader</title>
</head>
<body>
  <h1>Add new Symbol</h1>
  <form action="/submit" method="POST">
    <div>
        <label for="name">Symbol Name:</label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <label for="listingDate">Listing Date:</label>
        <input type="text" id="listingDate" name="listingDate">
    </div>
    <button type="submit">Submit</button>
  </form>
</body>
</html>